<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Beans" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Charsets" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Corba" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Jdbc" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Management" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Media" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Misc" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Naming" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Remoting" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Security" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.SwingAWT" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.XML.Bind" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.XML.Parse" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.Runtime.JNI" version="7.2.4630.5" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.1.11" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.22" targetFramework="net48" />
  <package id="NPOI" version="2.5.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net48" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net48" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net48" />
</packages>